.borde-columnas-centro {
  border-left: 15px solid #f0b659;
  border-right: 15px solid #f0b659;
  border-top: 15px solid #f0b659;
  color: #00ffaa;
  color: rgb(0, 255, 0);
}

/*
4234

4 + 30 + 200 + 4000

10**0 = 1
10**1 = 10
10**2 = 100
10**3 = 1000



10101011

2**0 = 1
2**1 = 2
2**2 = 4
2**3 = 8
2**4 = 16
        32
        64
        128
1 + 2 + 0 + 8 + 0 + 32 + 0 + 128 = 43 + 128 = 171

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f

ff

16**0 = 1
16**1 = 16

15 * 1 = 15
15 * 16 = 240
240 + 15 = 255

11111111 === ff === 255

fa = 250 - 128 = 122 - 64 = 58 - 32 = 26 - 16 = 10 - 8 = 2

11111010

10 * 1 = 10
15 * 16 = 240

*/

.borde-columnas-laterales {
  padding: 1%;
  border-top: 15px solid #f0b659;
}

.borde-columnas-laterales-inferiores {
  border-bottom: 15px solid #f0b659;
}

.borde-columnas-centro-inferior {
  border-bottom: 15px solid #f0b659;
}

.container-moneda {
  text-align: center;
  padding: 2%;
}

.boton-moneda {
  width: 80%;
  transition: 0.25s;
}

.boton-moneda:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.boton-moneda:active {
  transform: scale(0.8);
  opacity: 0.9;
}

.container-edificios {
  text-align: center;
}

.notificaciones {
  width: 50%;
  position: absolute !important;
  text-align: center;
  margin-left: 25%;
  margin-top: 3%;
  color: white;
  font-weight: 900;
  font-size: 20px;
  transition: 3s;
}

.notificacion-compra {
  background-color: #ff3333;
  transition: all 0.5s ease 0.5s;
}
